title: "Run Script From URL"
type: "object"
properties:
  data:
    type: "object"
    properties:
      args:
        type: "array"
        title: "Arguments"
        description: "Arguments to pass to shell"
        default: []
        items:
          title: "Argument"
          type: "string"
      env:
        type: "array"
        title: "Environment Variables"
        description: "Environment variables to pass to shell"
        default: []
        items:
          title: "Environment Variable"
          type: "object"
          properties:
            name:
              title: "Name"
              type: "string"
            value:
              title: "Value"
              type: "string"
          required: [
            "name"
            "value"
          ]
      url:
        type: "string"
        title: "Script URL"
        description: "URL to script body"
      workingDirectory:
        type: "string"
        title: "Working Directory"
    required: [
      "url"
    ]
required: [
  "data"
]
