title: "Run Command"
type: "object"
properties:
  args:
    type: "array"
    title: "Arguments"
    description: "Arguments to pass to shellComand"
    items:
      title: "Argument"
      type: "string"
required: [
  "args"
]
