title: "Default Configuration"
type: "object"
properties:
  options:
    title: "Options"
    type: "object"
    properties:
      command:
        title: "Shell Command"
        type: "string"
      workingDirectory:
        title: "Working Directory"
        type: "string"
    required: [
      "command"
    ]
required: [
  "options"
]
